.feedback__container {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0 60px 0 60px;
}
.feedback__btn {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 20px;
  text-align: center;
  background-color: #9fc5eb;
  color: #161718;
  transition: all 800ms;
}
.feedback__btn:hover {
  background-color: #4267b2;
  color: white;
}
